<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./tabs.css">
    </head>
    <body>
          <div class="tabs">
                <input name="tab" type="radio" class="tabs__input tabs__input_all" id="#all-tab">
                <input name="tab" type="radio" class="tabs__input tabs__input_elements" id="#elements-tab">
                <input name="tab" type="radio" class="tabs__input tabs__input_containers" id="#containers-tab">
                <input name="tab" type="radio" class="tabs__input tabs__input_templates" id="#templates-tab">

                <div class="tabs__scroller">
                    <label for="#all-tab" class="tabs__label tabs__label_all">All components</label>
                    <label for="#elements-tab" class="tabs__label tabs__label_elements">Elements</label>
                    <label for="#containers-tab" class="tabs__label tabs__label_containers">Containers</label>
                    <label for="#templates-tab" class="tabs__label tabs__label_templates">Templates</label>
                </div>

                <div class="tabs__content tabs__content_all">
                    1111
                </div>
                <div class="tabs__content tabs__content_elements">
                    2222
                </div>
                <div class="tabs__content tabs__content_containers">
                    3333
                </div>
                <div class="tabs__content tabs__content_templates">
                    4444
                </div>
          </div>
    </body>
</html>
