<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./tabs.css">
    </head>
    <body>
          <div class="tabs">
                <input name="tab1" type="radio" class="tabs__input" id="#all-tab">
                <input name="tab2" type="radio" class="tabs__input" id="#elements-tab">
                <input name="tab3" type="radio" class="tabs__input" id="#containers-tab">
                <input name="tab4" type="radio" class="tabs__input" id="#templates-tab">

                <div class="tabs__scroller">
                    <label for="#all-tab" class="tabs__label">All components</label>
                    <label for="#elements-tab" class="tabs__label elements">Elements</label>
                    <label for="#containers-tab" class="tabs__label containers">Containers</label>
                    <label for="#templates-tab" class="tabs__label">Templates</label>
                </div>

                <div class="tabs__content tabs__content_all-tab">
                    <!-- Сложные компоненты -->
                    1111
                </div>
                <div class="tabs__content tabs__content_elements-tab">
                    <!-- Простые компоненты -->
                    2222
                </div>
                <div class="tabs__content tabs__content_containers-tab">
                    <!-- Простые компоненты -->
                    3333
                </div>
                <div class="tabs__content tabs__content_templates-tab">
                    <!-- Простые компоненты -->
                    4444
                </div>
          </div>
    </body>
</html>
