.histogram {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;

    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__orders {
    display: flex;
    flex-direction: column;
    color: var(--black);
}

.histogram__label {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;

    margin-bottom: 6px;
}

.histogram__amount {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 26px;
}

.histogram__view {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-1);

    margin-top: 3px;
}

.histogram__bars {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
    margin: 39px 5px 0 2px;
}

.histogram__bar {
    display: flex;
    flex-grow: 1;
    background: var(--blue-1)
}