.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip__bubble {
    position: absolute;
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    color: var(--grey-2);
    padding: 13px 21px 8px;
    background: var(--black);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble_visible {
    display: block;
}

.tooltip__bubble:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 6px solid var(--black);
}

.tooltip__icon:hover + .tooltip__bubble {
    display: block;
}