.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 22px 0;
    background: var(--grey-5);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.main__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.main__card {
    min-width: 164px;
    min-height: 231px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 16px);
    gap: 38px;
    padding: 32px;
}

@media screen and (min-width: 345px) {
    .main__card {
        flex-basis: calc(49% - 16px);
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding: 68px 0 92px;
    }

    .main__inner {
        gap: 30px;
    }

    .main__card {
        min-height: 367px;
        flex-basis: 350px;
    }
}