.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 22px 0;
    background: var(--grey-5);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.main__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.main__card {
    width: 164px;
    height: 231px;
}

@media screen and (min-width: 768px) {
    .main {
        padding: 68px 0 92px;
    }

    .main__inner {
        gap: 30px;
    }

    .main__card {
        width: 350px;
        height: 367px;
    }
}