.toggler {
    display: inline-block;
    position: relative;
}

.toggler__input {
    position: absolute;
    opacity: 0;
    translate: -100vw;
}

.toggler__state {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggler__control {
    width: 52px;
    height: 28px;
    padding: 0 1px;
    border-radius: 16px;
    border: 1px solid var(--grey-2);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.toggler__circle {
    width: 24px;
    height: 24px;
    border-radius: 16px;
    background: var(--grey-2);
}

.toggler__label {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background: var(--blue);
    border-color: var(--blue);
    justify-content: flex-end;
}

.toggler__input:checked ~ .toggler__state .toggler__control .toggler__circle {
    background: var(--white);
}

.toggler__input:disabled ~ .toggler__state {
    cursor: default;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
    justify-content: flex-start;
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__control .toggler__circle {
    background: var(--grey-3);
}