.skeleton {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__brick {
    display: flex;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__brick_xs-width {
    width: 30%;
}

.skeleton__brick_sm-width {
    width: 50%;
}

.skeleton__brick_md-width {
    width: 90%;
}

.skeleton__brick_lg-width {
    width: 100%;
}

.skeleton__header {
    display: flex;
    flex-grow: 1;
    gap: 16px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 32px;
}

.skeleton__description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.skeleton__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}