.footer_component {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0;
    grid-area: footer;
}

.footer_component__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}