.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Inter;
}

.input__label {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: var(--grey-3);
}

.input__control {
    position: relative;
}

.input__field {
    width: 100%;
    padding: 17px 24px 13px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;

    color: var(--grey-4);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    box-sizing: border-box;
}

.input__field::placeholder {
    color: var(--grey-2);
}

.input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--white);
}

.input_invalid .input__field {
    border-color: var(--error);
    box-shadow: 0px 1px 1px rgba(var(--error), 0.1);
}

.input__field:focus {
    border-color: var(--blue);
}

.input_dropdown .input__icon {
    color: var(--blue);
}
